@charset "UTF-8";
<style>
        body{
           background-color: aquamarine;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
           font-size: 20px
        }
        h1{
            color: red;
            background-color: violet;
        }
        h2{
            color: yellowgreen;        }
        p{
          color: blue;
          text-align: justify;  
        }
    </style>